/* common */
.div-clear-both {
    clear: both;
}

/* DayForcast */
.day-forecast-container {
    padding: 10px 0 5px;
}

.day-forecast-container div {
    display: inline;
    padding: 10px 10px;
    font-size: 1.8em;
}

.day-forecast-container .day-forecast-day {
    color: red;
    font-weight: bold;
}

.day-forecast-container .day-forecast-temperature i {
    padding-left: 2px;
}
