/* common */
.div-clear-both {
    clear: both;
}

/* component */
.weather-container {
    background-color: #f2f2f2;
    padding-left: 10px;
    padding-right: 10px;
}

.week-forcast-container {
    font-size: 0.6em;
}

.weather-current-container {
    border-bottom: solid 1px #ddd;
}

.weather-current-container .weather-current-month {
    padding: 10px 5px 10px;
    float: left;
    font-size: 2.1em;
    color: #777;
}

.weather-current-container .weather-current-day {
    padding: 15px 10px 10px 0;
    float: left;
    font-size: 1.8em;
    color: #777;
}

.weather-current-container .weather-current-location {
    padding: 10px 15px 10px 15px;
    float: left;
    font-size: 2.1em;
    color: #555;
}

.weather-current-container .weather-current-temperature {
    padding: 10px;
    float: left;
    font-size: 2.1em;
    color: #777;
}

.day-forcast-container {
    padding: 10px 0 5px;
    float: left;
    width: 50px;
    text-align: center;
}

.day-forcast-container div {
    display: block;
    padding: 2px;
    font-size: 1.8em;
}

.day-forcast-container .day-forcast-day {
    color: red;
    font-weight: bold;
}

.day-forcast-container .day-forcast-temperature i {
    padding-left: 2px;
}
