{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<style>
.row {
    margin-top: 15px;
}
.row ul li {
    margin-top: 5px;
    font-size: 1.1em;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>
                Introduction to ReactJS
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    <a href="/intro/step-0.html">Step 0</a>
                </li>
                <li>
                    <a href="/intro/step-1.html">Step 1</a>
                </li>
                <li>
                    <a href="/intro/step-2.html">Step 2</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
