{% extends '../layout/layout.html' %}

{% block style %}
{% parent %}
<style>
.row {
    margin-top: 10px;
}

.row ul li {
    margin-top: 12px;
    margin-left: -20px;
    font-size: 1.1em;
    list-style-type: circle;
}

.step-description {
    padding-left: 10px;
}

.step-description a {
    padding-left: 5px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>
                Introduction to ReactJS
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    <a href="/intro/step-1.html">Step 1</a>
                    <span class="step-description">
                        Display forecast in HTML
                        <a href="/image/screenshot/step1.png">
                            <i class="glyphicon glyphicon-camera"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <a href="/intro/step-2.html">Step 2</a>
                    <span class="step-description">
                        Display forecast in ReactJS
                        <a href="/image/screenshot/step2.png">
                            <i class="glyphicon glyphicon-camera"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <a href="/intro/step-3.html">Step 3</a>
                    <span class="step-description">
                        Pretty up forecast display
                        <a href="/image/screenshot/step3.png">
                            <i class="glyphicon glyphicon-camera"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <a href="/intro/step-4.html">Step 4</a>
                    <span class="step-description">
                        Create DayForecast component
                        <a href="/image/screenshot/step4.png">
                            <i class="glyphicon glyphicon-camera"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <a href="/intro/step-5.html">Step 5</a>
                    <span class="step-description">
                        Wrap into WeekForecast component
                        <a href="/image/screenshot/step5.png">
                            <i class="glyphicon glyphicon-camera"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <a href="/intro/step-6.html">Step 6</a>
                    <span class="step-description">
                        Consolidate in Weather component
                        <a href="/image/screenshot/step6.png">
                            <i class="glyphicon glyphicon-camera"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <a href="/intro/step-7.html">Step 7</a>
                    <span class="step-description">
                        Add current weather and location
                        <a href="/image/screenshot/step7.png">
                            <i class="glyphicon glyphicon-camera"></i>
                        </a>
                    </span>
                </li>
                <li>
                    <a href="/intro/step-8.html">Step 8</a>
                    <span class="step-description">
                        Add multiple city weather display
                        <a href="/image/screenshot/step8.png">
                            <i class="glyphicon glyphicon-camera"></i>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
